nav{
    background-color: $secondary;
    padding:15px 0px;
    position: fixed;
    z-index: 100;
    .wrap{
        width:80%;
        margin:auto;
            display:grid;
            grid-template-columns: 20% 80%;

    }
}
.logo{
    a{
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;                  
    }
}
.links{
display:flex;
justify-content: flex-end;
    ul{
        width:30%;
        list-style: none;
        display:flex;
        justify-content: space-between;
        li{
            a{
                padding:5px;
                text-decoration: none;
                font-size: 16px;
                font-weight: bold;

                &:active{
                    background-color: $primary;
                    color:$secondary;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}


@media(max-width:700px){
   nav{
       padding: 0px;
       .wrap{
           grid-template-columns: 100%;
           &>div{
               text-align: center;
               padding: 10px 0px;
           }
           .links{
               ul{
                   width:60%;
                   margin: auto;
               }
           }
       }
   }
}