// Do not forget to properly edit this part of the blog before assembling
.header{
    background-image:linear-gradient(to right, $primary, $lite);
    border:1px solid grey;
    height:250px;
    width:100%;
    .wrap{
        height: 100%;
        margin: auto;
        width:80%;
        .post-title{
            padding-top: 40px;
            align-items: center;
           color:$secondary;
            display:flex;
            flex-direction: column;
            justify-content:flex-end;
            height: 80%;
            width:100%;
            h1{
                font-size: 36px;
                text-align: center;
            }
            i{
                color:$lite;
            }
        }
    }
}
.container{
    position:absolute;
    top:100px;
}
.section{
    background-color: whitesmoke;
    padding:30px 0px;
    .wrap{
        margin: auto;
        width:70%;
        .post-text{
            p{
                line-height: 145%;
                margin: auto;
                text-align: left;
                width:90%;
     
               padding:0px 10px;
                span{
                    position: relative;
                    top:10px;
                    font-size: 48px;
                    font-weight: bolder;
                }
            }
        }
        .img{
            height:450px;
            margin: auto;
            padding:40px 0px;
            width:100%;
            
            img{
            height:100%;
            object-fit:cover;
            object-position:center;
            width:100%;

            }
        }
    }
}


i{
    color:$lite;
}



.likes{
    align-items: left;
    display:flex;
    flex-direction: column;
    height: 150px;
    justify-content:space-evenly;
    margin: auto;
    width:90%;
    ul{
        display:flex;
        justify-content:space-between;
        list-style-type: none;
        width:230px;

        li{
            text-align: center;
            button{
                border:1px solid grey;
                border-radius: 5px;
                padding:10px;
                width:100px;
                
                &>hover{
                    background-color: $primary;
                    color:$secondary;
                }
            }
        }
    }
}


@media(max-width:700px){
    .header{
        .wrap{
            .post-title{
                padding-top: 230px;
            }
        }
    }
    .section{
        .wrap{
            margin: auto;
            width:95%;
            .post-text{
                p{
                    font-size:17px;
                }
            }
        }
    }
}


@media(min-width:700px){
    .section{
        .wrap{
            margin: auto;
            width:90%;
            .post-text{
                p{
                    font-size:23px;
                }
            }
        }
    }
}



