section{
    height:fit-content;
    padding:30px 0px;
    width:100%;
    .wrap{
        height:100%;
        margin: auto;
        width:80%;
        h1{
            color:$dark;
            font-size: 32px;
            padding:20px 0px;
        }
        &>div{
            display:grid;
            grid-auto-rows: minmax(100px, 400px);
            grid-gap: 10px;
            grid-template-columns: 1fr 1fr 1fr;
            height:100%;
            width:100%;
        }
    }
}

.post{
    box-shadow: 0px 0px 5px 2px rgba(49, 49, 49, 0.432);
    display:grid;
    grid-template-rows: 45% 55%;
    height:100%;
    width: 100%;
  .img{
      height:100%;
      width:100%;
      img{
          height: 100%;
          object-fit: cover;
          object-position: top;
          width:100%;
      }
  }

  .text{
      display:flex;
      flex-direction: column;
      padding:10px;
    // h2{

    // }
    p{
        color:$lite;
        font-size: 15px;
        line-height: 145%;
        padding:15px 0px 15px 0px;
    }

    a{
        border:1px solid grey;
        color:$primary;
        margin-bottom: 10px;
        padding:10px;
        text-align: center;
        text-decoration: none;
        width:150px;
        &:hover{
            background-color: $primary;
            color:$secondary;
        }
        &:active{
          transform: scale(0.97);
        }
    }
    i{
        color:$lite;
        font-size: 14px;
    }
}
}

@media only screen and (max-width:390px){
    section{
        .wrap{
            .posts{
                grid-template-columns: 1fr;
                grid-auto-rows: minmax(100px,500px);

            }
        }
    }
}


@media(max-width:600px){
    section{
        .wrap{
            .posts{
                grid-template-columns: 1fr;
            }
        }
    }
}

@media only screen and (min-width:768px){
    section{
        .wrap{
            .posts{
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: minmax(100px,400px);
                .post{
                    a{
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1024px){
    section{
        .wrap{
            .posts{
                grid-template-columns: 1fr 1fr 1fr;
               grid-auto-rows: minmax(100px,460px);
               .post{
                   a{
                       margin-bottom: 10px;
                   }
               }
            }
        }
    }
}

