$primary:black;
$secondary:white;
$tertiary:grey;

$lite:rgb(58, 58, 58);
$dark:rgba(43, 43, 43, 0.747);

@mixin flex($direction,$justify,$align){
display:flex;
flex-direction: $direction;
justify-content: $justify;
align-items: $align;
}

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

a{
    color:$primary;
    text-decoration: none;
}


header, nav,section,footer{
    width:100%;
}

.wrap{
    height:100%;
    margin:auto;
    width:80%;
}


@import "footer";
@import "header";
@import "nav";
@import "page";
@import "section";
